

.hero__inner{
    height: 110vh;
    top: -10vh;
}

.hero {
    z-index: -1;
}

.intro__bg{
    transition: all 0.5s;
}

.hero {
    height: 500vh;
    z-index: 0;
}

.intro__content .aspect,
.vid-item .aspect{
    padding-top: 0;
}

.intro__content .aspect video,
.vid-item .aspect video {
    width: 100%;
    height: 100%;
}

#circle {
	transition: stroke-dashoffset 300ms ease-in;
	stroke-dashoffset: 0;
	fill: none;
}
#circle.play {
	stroke-dashoffset: 314;
}

.intro__content .i-play,
.vid-item .i-play {
    width: 100%;
    height: 100%;
}

.intro__content .i-play svg,
.vid-item .i-play svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-25%);
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rebeccapurple;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rebeccapurple;
    border-radius: 50%;
    transition: all 200ms;
  }
  
  .video-play-button:hover:after {
    background-color: darken(rebeccapurple, 10%);
  }
  
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
  }
  
  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  
  
  
  .video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.80);
    opacity: 0;
    transition: all ease 500ms;
  }
  
  .video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
  }
  
  .video-overlay-close,
  .video-overlay-close2 {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
  }

  .video-overlay-close2{
    padding: 0 5px;
    top: 70px;
    right: 70px;
  }
  
  .video-overlay-close:hover,
  .video-overlay-close2:hover {
    color: rebeccapurple;
  }
  
  .video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* width: 90%; */
    /* height: auto; */
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
  }


.aspect {
  max-width: 1200px;
  margin: 0 auto;
}

.i-play.open {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}


/* carousel */

.slide-wrapper {
	position: relative;
}

.slide-items,
.slide-items2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	/* white-space: nowrap; */
	font-size: 0;
	cursor: grab;
}

.slide-item,
.slide-item2 {
	user-select: none;
	width: 50%;
	height:100%;
}


.feature-btn-next {
  cursor: pointer;
  z-index: 20;
}

@media screen and (max-width: 649px) {
  .slide-item,
  .slide-item2 {
    min-width: 100%;
  }
  .col22{
    width: 100%;
  }
}

.plane img, .plane video {
  display: block;
}


.js-h-txt{
  opacity: 1;
}

.animate-text {
  animation-name: animate-text;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes animate-text {
  0%{
    transform: translate(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-25px);
    opacity: 0;
  }
}



.js-bm-video{
  width: 150%;
}

@media (max-width: 649px) {
  .js-bm-video {
    width: 100%;
  }
}